.container {
  font-family: sans-serif;
  line-height: 2;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.row {
  display: flex;
}

.row:first-of-type,
.col:first-of-type {
  font-weight: 700;
}

.col {
  border: 1px solid #555;
  flex: 1;
}

button {
  background: orange;
  border: 5px solid darkorange;
  color: #fff;
  display: block;
  font-size: 3em;
  margin: 100px auto;
  padding: 20px 50px;
}

button:hover {
  background: darkorange;
  cursor: pointer;
}
